# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Poetry
.venv/
poetry.lock

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local data
data/
!data/knowledge_base/
